canvas.game-board {
  background-image: url('../images/bg0.jpeg');
  cursor: pointer;
}
canvas.tile-view {
  background: white;
  padding: 4px;
}
table {
  border: 0px;
  border-color: #d0d0a0;
  border-width: 0px;
  border-spacing: 0px;
}
tr {
  border: 0px;
  border-color: #d0d0a0;
  border-spacing: 1px;
}
td {
  text-align: center;
  padding: 8px;
  border-spacing: 1px;
  border: 0px;
  background: black;
}
td.bg-table {
  background: #80b030;
  padding: 0px;
  border: 0px;
}
table#tiles-table {
  border-spacing: 1px;
  border: 0px;
  border-width: 0px;
}
br {
  height: 8px;
}
input.code-input {
  width: 72px;
  text-align: center;
  background: #000000;
  color: #ffff00;
  font: "11pt Monaco";
  border-style: solid;
  border-color: #80b030;
  box-shadow: none;
  border-width: 1px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
div#tile-editor {
  background-color: rgb(0,0,0);
  display: inline-block;
  padding: 4px;
  top: 50;
}
div#hidden-images {
  width: 0;
  height: 0;
  display: none;
}
